@tailwind base;
@tailwind components;
@tailwind utilities;
.btn {
  text-transform: none;
}
@font-face {
  font-family: "notosanslao";
  font-style: normal;
  font-weight: 400;
  src: url("./fonts/NotoSansLao/NotoSansLao-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "notosanslao";
  font-style: normal;
  font-weight: 800;
  src: url("./fonts/NotoSansLao/NotoSansLao-Bold.ttf") format("truetype");
}
